<div class="article">

    <div class="articleCalendar articleCalendarIcon-[PUBLISHSTARTDATE:MM]">
        <div class="articleCalendarDay">[PUBLISHSTARTDATE:dd]</div>
    </div>
    <div class="articleHeadline"><h1>[EDIT]<a href="[ARTICLELINK]">[TITLE]</a></h1></div>

    <div class="articleEntry Normal">
        [HASIMAGE]<div class="articleImage">[IMAGETHUMB:100]</div>[/HASIMAGE]
        [HASSUMMARY][SUMMARY]
       [ISRSSITEM]<p><a href="[LINK]" target="_blank">read more...</a></p>[/ISRSSITEM]
        [ISNOTRSSITEM]
        [HASMOREDETAIL:150]
            <p><a href="[ARTICLELINK]" target="[LINKTARGET]">read more...</a></p>
        [/HASMOREDETAIL:150][/ISNOTRSSITEM]
 
[/HASSUMMARY][HASNOSUMMARY][DETAILS][/HASNOSUMMARY]
    </div>
    <div class="blog_footer"></div>
   </div>
